$main-background: #ececec;
$blue-color-1: #35bdee;
$blue-color-2: #3676d7;
$blue-color-3: #0067b9;
$blue-color-4: #004b87;
$dark-blue-color: orange;
$red-color: #f37b5a;
$green-color: #0db28d;
$yellow-color: #fac700;
$icon-check-size-m: 28px;